#main-nav {
    background-color: var(--color-bg1);
}

#brand {
    color: var(--color-highlight);
}

#main-nav .nav-link {
    color: var(--color-text);
    background-color: var(--color-highlight);
    border-radius: 5px;
}

body {
    background-color: var(--color-bg2);
    color: var(--color-text);
}

a {
    color: var(--color-highlight);
}

.btn-highlight {
    color: var(--color-text);
    background-color: var(--color-highlight);
}

#notifs-dropdown {
    width: 400px;
    background-color: var(--color-bg1);
    padding-top: 2px;
    padding-bottom: 2px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.notif {
    margin-bottom: 10px;
    background-color: var(--color-bg2);
    position: relative;
}

.notif-delete {
    position: absolute;
    right: 5px;
    top: 0px;
    color: red;
    display: inline-block;
    z-index: 1;
    padding: 10px;
    margin: -10px;
}
