<!DOCTYPE html>
<html>
	<head>
		<title>USC IR - Index</title>
        <%- include("../partials/head.ejs") %>
		<link href="/css/index.css" rel="stylesheet" />
	</head>
	<body>
        <%- include("../partials/navbar.ejs") %>

		<div id="container">

        </div>


    </body>
</html>
