<!DOCTYPE html>
<html>
	<head>
		<title><%= CONFIG.serverName %> - Index</title>
        <%- include("../partials/head.ejs") %>
		<link href="/css/index.css" rel="stylesheet" />
	</head>
	<body>
        <%- include("../partials/navbar.ejs") %>

		<div id="container">
			<div class="row">
				<div class="col-6">
					<h2>What is this?</h2>
					<div class="w-100"><hr></div>
					This site is the web UI for an Internet Ranking server for the game <a href="https://github.com/Drewol/unnamed-sdvx-clone">USC</a>. It implements the <a href="https://uscir.readthedocs.io/">USC-IR specification</a> version 0.2.0a.<br><br>
					To use it, set your IR Base URL in USC to <span id="ir-url">loading...</span>, and set your IR Token to the token accessible from your profile after registration.
				</div>
				<div class="col-6">
					<h2>Who made this?</h2>
					<div class="w-100"><hr></div>
					This website is open-source, and is available on <a href="https://github.com/ereti/usc-ir-server">GitHub</a>. Full attribution can be found there.
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="w-100"><hr></div>
					<h2>What does it do?</h2>
					<div class="w-100"><hr></div>
				</div>
			</div>
			<div class="row" style="text-align: left;">
				<div class="col-6">
					<ul>
						<li>Web UI:</li>
						<li>Leaderboards</li>
					</ul>
				</div>
				<div class="col-6">
					<ul>
						<li>IR Server:</li>
						<li>Implements the full specification, which includes:</li>
						<li>Score submission</li>
						<li>Personal best/server record tracking</li>
					</ul>
				</div>
			</div>
        </div>

		<script src="/js/index.js"></script>
    </body>
</html>
